@page "/management/menu/positiontypes/add"
@page "/management/menu/positiontypes/edit/{positionTypeId:int}"
@page "/management/menu/positiontypes/add/{sectionId:int}"
@inject HttpClient _httpClient
@inject NavigationManager _navManager
@using Microsoft.AspNetCore.Authorization;
@inject ViewNavbarService navbarView
@attribute [Authorize(Roles = "Admin")]


    <EditForm Model="@menuPositionType" OnValidSubmit="() => SavePositionType()" class="management-container">
        @if (positionTypeId != 0)
        {
            <h3>Редактирование типа секции @positionTypeId</h3>
            <PageTitle>Редактирование типа секции @positionTypeId</PageTitle>
        }
        else
        {
            <h3>Добавление типа секции меню</h3>
            <PageTitle>Добавление типа секции меню</PageTitle>
        }
        <Message IsShown="IsShown" IsSuccess="IsSuccess" MessageText="@Message">

        </Message>
        <DataAnnotationsValidator />
        <div class="form-group row">
            <label for="sectionName" class="col-sm-2 col-form-label">
                Название на английском
            </label>
            <InputText id="sectionName" @bind-Value="@menuPositionType.Name" class="form-control"></InputText>
            <ValidationMessage For="@(() => menuPositionType.Name)" />
            <br />
            <label for="sectionNameRu" class="col-sm-2 col-form-label">
                Название на русском
            </label>
            <InputText id="sectionNameRu" @bind-Value="@menuPositionType.NameRu" class="form-control"></InputText>
            <br />
            <label for="positionSection" class="col-sm-2 col-form-label">
                Секция
            </label>
            <InputSelect id="positionSection" @bind-Value="@menuPositionType.SectionId" class="form-control">
                @foreach (var menuSection in menuSections)
                {
                    <option value="@menuSection.Id">@menuSection.NameRU</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-custom">Сохранить</button>
            <button class="btn-google custom-btn-google" @onclick="ReturnToManagement">Назад</button>
        </div>
    </EditForm>



@code {
    [Parameter]
    public int positionTypeId { get; set; }
    [Parameter]
    public int sectionId { get; set; }

    private PositionType menuPositionType = new();
    protected List<Section> menuSections = new();

    private string Message { get; set; }
    private bool IsShown { get; set; } = false;
    private bool IsSuccess { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        navbarView.Hide();
        await GetSectionsList();
        if (positionTypeId != 0)
        {
            menuPositionType = await _httpClient.GetFromJsonAsync<PositionType>("api/positionTypes/getbyid/" + positionTypeId);

            if (menuPositionType == null)
            {
                Message = "Ошибка при загрузке типа секции";
                IsShown = true;
                IsSuccess = false;
            }
        }
        if (positionTypeId == 0 && sectionId != 0)
        {
            menuPositionType.SectionId = sectionId;
        }
    }

    protected async Task GetSectionsList()
    {
        menuSections = await _httpClient.GetFromJsonAsync<List<Section>>("api/section");

        if (menuSections == null)
        {
            Message = "Ошибка при загрузке секций";
            IsShown = true;
            IsSuccess = false;
        }
    }

    protected void ReturnToManagement()
    {
        _navManager.NavigateTo("/management/menu");
    }

    protected async Task SavePositionType()
    {
        if (menuPositionType.Id != 0)
        {
            await _httpClient.PutAsJsonAsync(
                "api/user/update/" + positionTypeId,
                menuPositionType);
        }
        else
        {
            if (menuPositionType.SectionId == null || menuPositionType.SectionId == 0)
            {
                menuPositionType.SectionId = 1;
            }
            var resp = await _httpClient.PostAsJsonAsync("api/PositionTypes/create", menuPositionType);

            if (resp.IsSuccessStatusCode)
            {               
                Message = "Успешно!";
                IsShown = true;
                IsSuccess = true;            
            }
            else
            {
                Message = await resp.Content.ReadAsStringAsync();
                IsShown = true;
                IsSuccess = false;
            }
        }
    }
}
